<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d423d6e5-a6f6-4537-b268-65b0bf379579" Publisher="CN=Rakesh" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MyFirstApp.Windows</DisplayName>
    <PublisherDisplayName>Rakesh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MyFirstApp.Windows.App">
      <m2:VisualElements DisplayName="MyFirstApp" Square150x150Logo="Images\appicon_150.png" Square30x30Logo="Assets\SmallLogo.png" Description="MyFirstApp.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="SmithaRasmussenApp" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>